<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayyappasamaaj.tattvamasi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.HomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.BhajansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PoojaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ArticlesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.EventsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.DonateActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.PDFViewerActivity" />
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>